// Define variables for your color scheme

// For example:
$red: #EA6D3F;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #2098A3;
$gray: #0E0000;
$light-gray: #F4F4F4;
$lavender: #8B81D2;
$gray1: #080808;
$gray2: #191919;
