#dashboard-container {
  height: 150vh;
  width: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  margin: -72px;
  display: flex;
  justify-content: center;
}

.dashboard-profile {
  width: 400px;
  margin-top: 200px;
  margin-right: 50px;
  .profile-card {
    width: 400px;
    background-color: #252525;
    border-radius: 5px;
  }
  .profile-photo {
    width: 400px;
    height: 260px;
    padding: 30px 0;
  }
  .profile-info {
    width: 400px;
    h2 {
      font-size: 30px;
      font-family: Ropa Sans;
      padding: 0 20px 20px 20px;
      margin: 0;
      padding: 0 20px;
    }
    div {
      padding: 20px 20px;
      margin-bottom: 10px;
      background-color: #323232;
    }
    p {
      margin:0;
      font-size: 26px;
      color: $lavender;
    }
  }
}

.dashboard-group {
  width: 550px;
  margin-top: 200px;
  margin-left: 50px;
}

.group-card {
  width: 600px;
  height: 250px;
  background-color: #252525;
  margin-bottom: 50px;
  .group-photo {
    width: 250px;
    height: 250px;
  }
}

