#group-index-banner {
  background-color: $gray1;
  height: 30vh;
  width: 100%;
  margin-top:75px;
  border-bottom: 5px solid $gray2;
  span {
    color: $lavender;
  }
  h2 {
    font-size: 36px;
  }
}

.group-cardd {
  width: 300px;
  height: 280px;
  display: flex;
  background-color: #181625;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 20px;
  img {
    width: 280px;
    height: 200px;
    object-fit: cover;
  }
  .fa-user {
    color: $lavender;
  }
}

#group-cards-container {
  width: 100%;
  min-height: 70vh;
  margin-bottom: -72px;
}
