#group-show-div {
  width: 800px;
  margin-top: 100px;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

#main-chart-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  div {
    display: flex;
  }
  span {
    font-size: 24px;
    color: #219974;
  }
}

#mainchartdiv {
  width: 100%;
  height: 500px;
  background-color: $gray1;
  border-bottom: 3px solid $lavender;
  border-radius: 5px;
}

#group-stats {
  width: 800px;
  height: 100px;
  background-color: $gray1;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $lavender;
  border-radius: 5px;
  div {
    width: 350px;
  }
}

#group-positions {
  margin-top: 50px;
  border-bottom: 1px solid $lavender;
}

#group-positions-content {
  padding: 20px;
  background-color: $gray1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $lavender;
  div {
    width: 350px;
  }
}

#group-polls {
  margin-top: 50px;
}

#group-orders {
  margin-top: 50px;
  #orders-container {
    text-align: center;
    width: 350px;
    background-color: $gray1;
    border-radius: 5px;
    border-bottom: 1px solid $lavender;
    margin-bottom: 10px;
    h3{
      font-size: 24px;
      padding: 10px 0;
      margin: 0;
    }
    #orders-content {
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      background-color: $gray2;
      border-bottom: 1px solid $lavender;
      border-top: 1px solid $lavender;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

#polls-container {
  width: 350px;
  background-color: $gray1;
  border-radius: 5px;
  border-bottom: 1px solid $lavender;
  margin-bottom: 10px;
  .poll-header {
    width: 350px;
    padding: 20px;
    border-bottom: 1px solid $lavender;
    position: relative;
    p {
      text-align: center;
      font-size: 24px;
    }
    .approval-rate {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .poll-content {
    width: 350px;
    padding: 20px;
    background-color: $gray2;
    border-bottom: 1px solid $lavender;
  }
  .poll-vote {
    width: 310px;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      font-size: 24px;
      transition: 1s;
      &:hover {
        font-size: 30px;
      }
    }
  }
}

#action-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 140px 0 0 20px;
  i {
    text-decoration: none;
    color: gray;
    margin-bottom: 20px;
    font-size: 30px;
    &:hover {
      color: $lavender;
    }
  }
  .action-icon {
    position: relative;
    span {
      opacity: 0;
      color: white;
      position: absolute;
      font-size: 24px;
      top: 0px;
      left: -10px;
    }
    &:hover > i {
      color: $gray1;
    }
    &:hover > span {
      opacity: 1;
    }
  }
}

