#group-index-container {
  // width: 800px;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  #group-index-header {
    margin-top: 100px;
    border-bottom: 1px solid $lavender;
    width: 100%;
  }
  #group-index-cards-container {
    margin-top: 15px;
    .group-index-cards {
      width: 20vw;
      margin-bottom: 20px;
      background: $gray1;
      position: relative;
      .hidden-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        color: white;
        font-size: 20px;
        &:hover {
          opacity: 1;
          background-color: rgba(0,0,0,.9);
        }
      }
      .group-index-card-photo {
        width: 100%;
        img {
          width: 100%;
          height: 200px;
        }
      }
      .group-index-card-description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px 20px;
        span {
          color: $lavender;
          .fa-user {
            font-size: 18px;
            color: $lavender;
          }
        }
      }
    }
  }
}




#group-index-banner {
  background-color: $gray1;
  height: 30vh;
  width: 100%;
  margin-top:75px;
  border-bottom: 5px solid $gray2;
  span {
    color: $lavender;
  }
  h2 {
    font-size: 42px;
  }
}

.group-cardd {
  width: 350px;
  height: 300px;
  display: flex;
  background-color: $gray1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: auto;
  position:relative;
  img {
    width: 280px;
    height: 200px;
    object-fit: cover;
  }
  .fa-user {
    color: $lavender;
  }
  .fa-plus {
    position: absolute;
    color: $lavender;
    top: 75px;
    left: 125px;
    font-size: 60px;
    opacity: 0;
  }
  &:hover > img {
    opacity: .2;
  }
  &:hover > .fa-plus {
    opacity: 1;
  }
}

#group-cards-container {
  width: 100%;
  min-height: 70vh;
  margin-bottom: -72px;
  display: flex;
  justify-content: center;
}


.join-group-button {
  border-color: transparent;
  p {
    color:white;
  }
}
