#landing-banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 140vh;
  margin-top: -80px;
  display:flex;
  justify-content: center;
  #banner-text {
    margin-top: -440px;
  }
}

#easy-to-start {
  font-size:72px;
  color:#8B81D2;
  font-family:Ropa Sans;
  margin-top: -125px;
  margin-bottom:50px;
}

#info-container {
  margin-bottom:200px;
}

.info-card {
  width: 300px;
  height: 400px;
  margin: auto;
  h3 {
    font-family: Ropa Sans;
    font-size: 30px;
    // padding: 10px 0;
    width: auto;
  }
  .info-photo {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    }
  }
  .info-text {
    width: 300px;
  }
}

#closing-container {
  p {
  margin:0;
  padding:0;
  font-size:30px;
  }
}

#closing-text {
  font-size:72px;
  font-family:Ropa Sans;
}

@media only screen and (max-width: 576px) {
  #closing-text {
    font-size: 36px;
  }
  #closing-container p {
    font-size: 20px;
  }
  #easy-to-start {
    font-size: 50px;
  }
  #meet-our-team {
    font-size: 50px;
  }
}

#team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  h2 {
    font-family:Ropa Sans;
    font-size:72px;
  }
  .team-avatar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 200px;
    p {
      padding: 0;
      font-size: 36px;
    }
  }
}

.footer-image {
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 440px;
  position: relative;
  margin-top: 70px;
  margin-bottom: -72px;
}
