<h2>Open Orders</h2>
<div id='orders-container'>
  <h3>APPL <span style='color:#219974; font-size:24px;'>BUY</span></h3>
  <div id='orders-content'>
    <div>
      <span style='color:gray;'>Quantity:</span>
      <span>10</span>
    </div>
    <div>
      <span style='color:gray;'>Price/share:</span>
      <span>$10</span>
    </div>
    <div style='border-top: 1px solid #8B81D2'>
      <span style='color:gray;'>Total Price:</span>
      <span>$100.00</span>
    </div>
  </div>
</div>
