<div id='dashboard-container' style='background-image:url(<%= asset_url 'dashboard_background.png' %>);'>
  <div class='container d-flex justify-content-center' >
    <div class='dashboard-profile'>
      <div class='profile-card'>
        <div class='profile-photo text-center'>
          <%= image_tag 'tony.jpg', class:'avatar-huge' %>
        </div>
        <div class='profile-info'>
          <h2>Tony Yu</h2>
          <div>
            <p>Available Balance:</p>
            <p class='text-white'>$1,000,000</p>
          </div>
          <div>
            <p>Total Balance:</p>
            <p class='text-white'>$2,000,000</p>
          </div>
        </div>
      </div>
    </div>

    <div class='dashboard-group'>
      <div class='group-card'>
        <div class='group-photo'>
        </div>
        <div class='group-info'>
        </div>
      </div>
    </div>
  </div>
</div>
