<div id='dashboard-container' style='background-image:url(<%= asset_url 'dashboard_background.png' %>);background-position: left top; background-repeat: no-repeat;'>
  <div class='container' >
    <div class='dashboard-profile'>
      <div class='profile-card'>
        <div class='profile-photo'>
        </div>
        <div class='profile-info'>
          <p>all the details</p>
        </div>
      </div>
    </div>

    <div class='dashboard-group'>
      <div class='group-card'>
        <div class='group-photo'>
        </div>
        <div class='group-info'>
        </div>
      </div>
    </div>
  </div>
</div>
