<div id='footer'>
  <div>
    <%= link_to 'About', root_path %><span style='color:#8B81D2'>.</span>
    <a href='#'>Contact<span style='color:#8B81D2'>.</span></a>
    <a href='#'>Careers<span style='color:#8B81D2'>.</span></a>
  </div>
</div>
