<div id='footer'>
  <div>
    <a href='#'>About<span style='color:#8B81D2'>.</span></a>
    <a href='#'>Contact<span style='color:#8B81D2'>.</span></a>
    <a href='#'>Careers<span style='color:#8B81D2'>.</span></a>
  </div>
</div>
