<div id='footer' class='d-flex justify-content-end align-items-center'>
  <p>About<span style='color:#8B81D2'>.</span></p>
  <p>Contact<span style='color:#8B81D2'>.</span></p>
  <p>Careers<span style='color:#8B81D2'>.</span></p>
</div>
