<div class="create-form mx-auto">
  <span>
    <span style="font-size:24px; font-weight:bold;" >
      <h3>New Group</h3>
    </span>
    <p>
    <%= simple_form_for [@group = Group.new] do |f| %>
    <%= f.input :name, maxlength: 20 %>
    <%= f.input :description %>
    <%= f.button :submit, 'Create Group', class: 'btn btn-primary'%>
    <% end %>
  </p>
</div>
