<div class="modal fade modalForm" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="createGroup" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "devise/registrations/edit" %>
      </div>
    </div>
  </div>
</div>
