<div class="container", style="margin-top: 4.25rem;">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <form class="box create-form mx-auto">
        <span>
          <span style="font-size:24px; font-weight:bold;" >
            <h1 align="center">Make a Withdrawal</h1>
          </span>
            <p>
            <%= simple_form_for [@group] do |f| %>
            <%= f.input :initial_deposit, required: true , placeholder: 'Number in Dollars'%>
            <%= f.button :submit, 'Withdraw Funds', class: "btn btn-primary btn-lg", style:"border-radius: 5rem; width:100%; font-size: 100%;" %>
            <% end %>
            </p>
        </span>
      </form>
    </div>
  </div>
</div>