function updateChat(string) {
  console.log('hi');
  const chattyCathy = document.querySelector('.chats');
  chattyCathy.insertAdjacentHTML('beforeend', string);
}

function refreshForm() {
  document.getElementById('chat_message').value = '';
}

function scrollBottom () {
  const chatWindow = document.querySelector('.chats')
  chatWindow.scrollTop = chatWindow.scrollHeight;
}

updateChat('<div class="d-flex justify-content-between align-items-start" style="padding:10px 20px;background-color:#040404;margin-bottom:10px;"><div class="d-flex flex-row"><div class="d-flex align-items-center"><%= j cl_image_tag @chat.user.photo, class:"avatar" %></div><div class="d-flex align-items-center"><span style="margin-left:10px;"><%= j @chat.user.first_name.capitalize %> said: </span></div></div><div style="width:500px;height:90px;word-wrap:break-word;margin-top:7px;"><span><%= j @chat.message %></span></div><div style="margin-top:7px;"><span style="color:gray;"><i><%= j @chat.created_at.strftime("%_m/%-d/%y %I:%M%p") %></i></span></div></div>');
scrollBottom();
refreshForm();

