<div id='landing-background' style="background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.29) 0%, #000000 100%),url(<%= asset_url 'landing_background.jpg' %>)">
  <div id='banner'>
    <div id='banner-text'>
      <h1>
        Lavender<span style='color:#8B81D2'>.</span>
      </h1>
      <h2>
        group investing
      </h2>
    </div>
  </div>
</div>

<div class='container'>
  <div id='info-cards' class='row no-gutters'>
    <div class='info-card col-md-4 col-xs-12'>
      <div class='info-photo'>
        <%= image_tag 'group.jpg' %>
      </div>
      <div class='info-text'>
        <h3>
          Create<span style='color:#8B81D2'>.</span>
          <span style='font-size:24px;color:#8B81D2;'>an investment group</span>
        </h3>
      </div>
    </div>
    <div class='info-card col-md-4 col-xs-12'>
      <div class='info-photo'>
        <%= image_tag 'phone.jpg' %>
      </div>
      <div class='info-text'>
        <h3>
          Invest<span style='color:#8B81D2'>.</span>
          <span style='font-size:24px;color:#8B81D2;'>purchase stocks cooperatively</span>
        </h3>
      </div>
    </div>
    <div class='info-card col-md-4 col-xs-12'>
      <div class='info-photo'>
        <%= image_tag 'breath.jpg' %>
      </div>
      <div class='info-text'>
        <h3>
          Grow<span style='color:#8B81D2'>.</span>
          <span style='font-size:24px;color:#8B81D2;'>together!</span>
        </h3>
      </div>
    </div>
  </div>
</div>
