<div id='landing-background' style="background-image:url(<%= asset_url 'landing_background.jpg' %>)">
  <div id='banner-header'>
    <h1>
      Lavender<span style='color:$lavender'>.</span>
    </h1>
    <h2>
      group investing
    </h2>
  </div>
</div>
