<div id='landing-background' style="background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.29) 0%, #000000 100%),url(<%= asset_url 'landing_background.jpg' %>)">
  <div id='banner-header'>
    <h1>
      Lavender<span style='color:#8B81D2'>.</span>
    </h1>
    <h2>
      group investing
    </h2>
  </div>
</div>

linear-gradient(180deg, rgba(0, 0, 0, 0.29) 0%, #000000 100%), url(kimson-doan-37947-unsplash.jpg)
