.btn-primary{
  background-color: transparent;
  border-color: $lavender;
}

.btn-primary:hover{
  background-color: $lavender;
}

.modalForm {
  border-radius: 5px;
  // background-color: rgba(37,37,37,.3);
  .modal-content {
    background-color: rgba(37,37,37,.9);
    border-radius: 5px;
  }
  .close {
    color:white;
  }
  input {
    background-color: #c3c3c3;
  }
  #group_description {
    background-color: #c3c3c3;
  }
  #poll_description {
    background-color: #c3c3c3;
   }
  .btn {
    background-color: rgba(139,129,210,.3);
    width: 100%;
    border-radius: 5px;
    &:hover {
    background-color: $lavender;
    }
  }
}
