.navbar-lavender {
  justify-content: space-between;
  a {
    text-decoration: none;
    font-size: 30px;
    color: white;
  }
  .navbar-collapse {
  flex-grow: 0;
  }
  .navbar-brand img {
  width: 40px;
  }
}
