.navbar-lavender {
  justify-content: space-between;
  a {
    text-decoration: none;
    font-size: 30px;
    color: white;
  }
  .navbar-collapse {
  flex-grow: 0;
  }
  .navbar-brand img {
  width: 40px;
  }
}

.dropdown-menu {
  background-color: #252525;
  a {
    color: white;
    font-size: 24px;
  }
}

.navbar-toggler-icon {
  background-image: url("https://cdn3.iconfinder.com/data/icons/ui-ux-essentials-solid/24/hamburger-menu-solid-512.png");
}
