// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: Ropa Sans;
  background-color: black;
  color: white;
}

#landing-background {
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  display:flex;
  justify-content: center;
}

#banner {
  width: 1000px;
}

#banner-text {
  position: relative;
  margin-top: 300px;
  h1 {
    font-family: Ropa Sans;
    font-size: 10vw;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  h2 {
    font-family: Ropa Sans;
    font-size: 5vw;
    color: #8B81D2;
    margin-left: 100px;
    position:absolute;
    top: 120px;
    left: 340px
  }
}

// #info-container {
//   width: 1000px;
//   margin: auto;
//   display: flex;
//   justify-content: center;
// }

.info-card {
  width: 300px;
  height: 400px;
  margin: auto;
  h3 {
    font-family: Ropa Sans;
    font-size: 30px;
    padding: 10px 0;
    width: auto;
  }
}

.info-photo {
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content:center;
  img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  }
}

.info-text {
  width: 300px;
}
