// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/chart";

body {
  font-family: Ropa Sans;
  background-color: black;
  color: white;
}

h1 {
  font-family: Ropa Sans;
  color: white;
}

h2 {
  font-family: Ropa Sans;
  color: white;
}

h3 {
  font-family: Ropa Sans;
  color: white;
}

p {
  margin: 0;
}

.gray-shadow {
  box-shadow: 0px 0px 5px 2px #222222;
}
